server {
    include /etc/nginx/common.d/common.conf;

    server_name $SERVER_HOSTNAME;

    location /.well-known/acme-challenge/ {
        allow all;
        root /var/www/certbot;
    }

    location / {
        expires max;
        try_files $uri $uri/ =404;

        if ($request_method = 'HEAD') {
            return 200;
        }
    }
}
